# Learn_Django
/Learn_Django/Learn_Django_Rest_Framework/venv
/Learn_Django/Learn_Model/venv
/Learn_Django/Learn_React_Django/.venv
/Learn_Django/Learn_React_Django/Django-React-Tutorial/.venv
/Learn_Django/Learn_React_Django/Django-React-Tutorial/frontend/node_modules

# Learn_React
/Learn_React/gym_typescript/node_modules
/Learn_React/react_router/node_modules
/Learn_React/react_redux/node_modules
/Learn_React/react-router-tutorial/node_modules

# Learn_Nest
/Learn_NestJs/Eko_Nestjs/belajar-nestjs-dasar/node_modules
/Learn_NestJs/Project_Nestjs/Nestjs_01_Login/backend_server/node_modules

# Learn_web_prosesing_data_excle
/Learn_Web_Prosesing_Data_Excel/pfg_report_sc/node_modules