# Learn_Django
/Learn_Django/Learn_Django_Rest_Framework/venv
/Learn_Django/Learn_Model/venv
/Learn_Django/Learn_React_Django/venv
/Learn_Django/Learn_React_Django/venv

# Learn_React
/Learn_React/gym_typescript/node_modules
